/*  Global Styles */
body{

	background-color:#f4f4f4 !important;
}

nav .brand-logo {
    padding: 10px !important;
}

nav ul a {

    color: #333 !important;

}
nav ul a:hover {
    background-color: #e91e63 !important;
    color: #fff !important;
}

.light {
    background-color: #fff !important;

}

 /* label focus color */
.input-field input[type=text]:focus + label {
 color: #e91e63 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid  #e91e63 !important;
 box-shadow: 0 1px 0 0 #e91e63!important;
}

select option{

	color:#e91e63 !important;
}

.picker__date-display {

    background-color: #e91e63 !important;

}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected {

    background-color: #e91e63 !important;

}


/* Home */

.showcase{

	background-image: url('../img/background.jpg');
	background-size:cover;
	background-position:center;
	height:100vh;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
    background-attachment: fixed;
}
.showcase .card{

	width:28%;
}


.form-container{

    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.form-container .card{

    width:28%;
}
.courses h3{

	padding: 20px;
}

.courses img{
	width: 200px;
    height: 200px;
    border: 4px solid #e91e63;
}

.courses img:hover{

	border: 4px solid #0089ec;
    transition: 0.2s;
}

.showcase .collection a.collection-item {

    color: #333 !important;
}

.showcase .collection a.collection-item:not(.active):hover {
	background-color: #e91e63 !important;
    color: #fff !important;
}



/* Register */


.fields{

	padding: 0 20px 0 20px;
}


/* Profile */

/*.sidenav .collection-item {

    border-bottom: 0 !important;
}
.profile .collection a.collection-item {

    color: #333 !important;
}

.profile .collection a.collection-item:not(.active):hover {
	background-color: #e91e63 !important;
    color: #fff !important;
}

.profile img.responsive-img, video.responsive-video {
    max-width: 100px !important;
    height: 100px !important;
}*/

.coordinator .student{

    overflow-y: scroll;
    height: 70vh;

}


.mtop{

    margin-top:10px !important;
}


.dashboard .fi-torso{

	font-size: 15rem !important;
}

span.badge.new {

    background-color: #f44336 !important;

}

.pagination li.active{

	color: #fff !important;
    display: inline-block !important;
    font-size: 1.2rem !important;
    padding: 0 10px !important;
    line-height: 30px !important;
}

.sy{

    background-color: #e91e63 !important;
    color: #fff !important;
}
.sy:hover{

    background-color: #e91e63 !important;
    color: #fff !important;
}

.student-list{


    background-color: #fff;
    padding: 0 0 0 0;
    margin: 0 !important;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    overflow-y: scroll;
    height: 60vh;
}

.item{

    padding: 10px 10px 5px 10px !important;
    margin:0 !important;
    border-bottom: 1px solid #ddd !important;
}

.item:hover{

        background-color: #f4f4f4 !important;
}

.notifications{

    height: 85vh !important;

}

.notifications .card-content {
    height: 75vh !important;
    overflow-y: scroll !important;
}



.darken{

    background-color:#1b1c1d !important
}

#enrolled select{

    display: inherit !important;
}

#unenrolled select{

    display: inherit !important;
}

.coordinator select{

    display: inherit !important;
}



#addFaculty select{

    display:inherit !important;

}

#changeSemester select{

    display:inherit !important;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


